<?xml version="1.0" encoding="utf-8"?>
<!--
    Use this configuration file as a template to run the tests against any dbms.
    Procedure:
        1) Save a copy of this file with a name of your choosing. It doesn't matter
           where you place it as long as you know where it is.
           i.e. "phpunit.xml" (It needs the ending .xml).
        2) Edit the file and fill in your settings (ZohoAPI key, etc.)
           Just change the "value"s, not the names of the var elements.
        3) To run the tests against the database type the following from within the
           tests/ folder: phpunit -c <filename> ...
           Example: phpunit -c phpunit.xml AllTests
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./tests/bootstrap.php"
        >

    <testsuites>
        <testsuite name="ZohoCRM ORM test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- PLEASE CONFIGURE AUTH TOKEN BELOW IN COPIED FILE -->
        <!--<env name="client_id" value=""/>-->
        <!--<env name="client_secret" value=""/>-->
        <!--<env name="redirect_uri" value=""/>-->
        <!--<env name="currentUserEmail" value=""/>-->
        <!--<env name="applicationLogFilePath" value=""/>-->
        <!--<env name="persistence_handler_class" value=""/>-->
        <!--<env name="token_persistence_path" value=""/>-->
        <!--<env name="userid_test" value=""/>-->
        <!--<env name="timeZone" value=""/>-->
        <!--<env name="deal_status" value=""/>-->
        <!--<env name="campaign_type" value=""/>-->
        <!--<env name="filepath_upload" value=""/>-->
        <!--<env name="custom_module_singular_name" value=""/>-->
        <!--<env name="custom_module_mandatory_field_name" value=""/>-->
        <!--<env name="custom_module_picklist_field_name" value=""/>-->
        <!--<env name="custom_module_date_field_name" value=""/>-->
        <!--<env name="custom_module_text_field_name" value=""/>-->
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>